{
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 100,
    "quoteProps": "consistent",
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "tailwindStylesheet": "./src/routes/layout.css"
}
